.DS_Store
node_modules/
bower_components/
.sass-cache/
.tmp/
aws-key.json
dist/
assets/fonts/
.vagrant/
wp-config.local.php
wp-config.staging.php
wp-config.production.php
robots.txt
wp-content/themes/northernsoul/css
wp-content/themes/northernsoul/images