.container {
	@include outer-container;
	width: 100%;
	min-width: $min-width;
	.box {
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		float: left;
		overflow: hidden;
		// position: relative;
		&.big-box {
			@include media($tablet) {
				width: 50%;
				padding-bottom: 50%;
			}
		}
		&.small-box {
			@include media($tablet) {
				width: 33.333333333333%;
				padding-bottom: 33.333333333333%;
			}
		}
	}
}
.logo {
	width: 75%;
	display: block;
	margin: 0 auto;
	position: relative;
	top: -18px;
}
.twitter {
	width: 15%;
	position: relative;
	left: 79%;
	bottom: 4.2em;
}
.tagline {
	text-align: center;
	width: 85%;
	max-width: 1024px;
	height: 0;
	padding-bottom: 35%;
	margin: -20% auto 0;
	.tagline-gourmet {
		position: relative;
		right: 20%;
		@include transform(rotate(-3deg));
	}
	.tagline-grilled {
		position: relative;
		@include transform(rotate(-5deg));
	}
	.tagline-soups {
		position: relative;
		@include transform(rotate(-4deg));
	}
}