@import "neat/app/assets/stylesheets/_neat-helpers.scss";

$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;
// Change the grid settings
$grid-columns: 4 !default;
$min-width: em(220, 10);
$mobile: new-breakpoint(min-width 320px 4);
$tablet: new-breakpoint(min-width 736px 12);