.black {
	background-color: $soul-black;
}
.white {
	background-color: $soul-white;
}
.yellow {
	background-color: $soul-yellow;
}
.board {
	background: {
		color: $board;
		image: url(#{$theme}/images/board.jpg);
		size: 100%;
	}
}
.menu {
	background: {
		image: url(#{$theme}/images/menu.jpg);
		size: 100%;
	}
}
